@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.box{
  @apply rounded-xl p-4 bg-black/80;
}


html,
body {
}
.tradingview-widget-container__widget iframe{
  height: 500px;
}
input:focus-visible{
  box-shadow: none !important;
}

